h1 {
  text-align: center;
  font: Arial, sans-serif;
  color: darkgrey;
  margin: 50px;
  padding: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}
